@import './base.css';

#app {
  margin: 0 auto;
  padding: 1rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 960px) {
  body {
    display: flex;
    place-items: center;
  }

  .searchbar {
    margin: 0 auto;
    width: 100%;
  }
}
